body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fbf8ef;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.color-mode {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 7px;
  cursor: pointer;
  background-image: url(../images/moon-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.field-cell {
  position: relative;
  background: #d6cdc4;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  box-sizing: border-box;
  user-select: none;
}

.field-tile {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background: #d6cdc4;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #776e65;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 1;
  transition: transform 0.16s ease;

  &--2 {
    background: #eee4da;
  }

  &--4 {
    background: #ede0c8;
  }

  &--8 {
    background: #f2b179;
    color: #f9f6f2;
  }

  &--16 {
    background: #f59563;
    color: #f9f6f2;
  }

  &--32 {
    background: #f67c5f;
    color: #f9f6f2;
  }

  &--64 {
    background: #f65e3b;
    color: #f9f6f2;
  }

  &--128 {
    background: #edcf72;
    color: #f9f6f2;
  }

  &--256 {
    background: #edcc61;
    color: #f9f6f2;
  }

  &--512 {
    background: #edc850;
    color: #f9f6f2;
  }

  &--1024 {
    background: #edc53f;
    color: #f9f6f2;
  }

  &--2048 {
    background: #edc22e;
    color: #f9f6f2;
  }
}

.game-field {
  background: #bbada0;
  border-spacing: 10px;
  border-radius: 5px;
}

.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  background: #edc22e;
  color: #f9f6f2;
  width: 75px;
  height: 75px;
  font-size: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d6cdc4;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #776e65;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 8px 0 0;
}

.controls {
  display: flex;
}

.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #f9f6f2;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 75px;
  height: 75px;

  transition: 0.25s ease background;
}

.start {
  background: #1dae28;
  font-size: 20px;

  &:hover {
    background: #179921;
  }
}

.restart {
  background: #f1b2b2;

  &:hover {
    background: #f87474;
  }
}

.message {
  box-sizing: border-box;
  width: 100%;
  background: #d6cdc4;
  color: #776e65;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.message-win {
  background: #edc22e;
  color: #f9f6f2;
}

.message-container {
  width: 100%;
  height: 150px;
}
